

<input type="search" name="" value="" placeholder="Recherche par auteur"  [(ngModel)]="author" (keyup)="getMedias()">
<select  (change)="getMedias()" [(ngModel)]="type">
  <option value="">Choisir catégorie</option>
  <option>Livre</option>
  <option>Film</option>
  <option>Audio</option>
</select>
<img *ngIf="medias.length === 0" src="assets/loading.gif" alt="">
<div id="user">
  <input type="text" placeholder="Entrez votre nom pour pouvoir emprunter"  [(ngModel)]="user">
  <br>
  <span>{{nbLoaning()}} emprunts</span>
</div>


 <table *ngIf="medias.length !==0 "class=" table table-bordered">
   <thead>
     <tr>
       <th>Titre</th>
       <th>Auteur</th>
       <th>Catégorie</th>
       <th>Disponibilité</th>
     </tr>
   </thead>
   <tbody>
     <tr *ngFor="let media of medias; let i= index">
      <td>{{media.title}}</td>
      <td>{{media.author}}</td>
      <td>{{media.type}}</td>
      <td>
      <div *ngIf="media.end"> Retour le{{media.end}} <span>emprunté par {{media.user}}</span></div><br>
      <a *ngIf="media.user" href="#" (click)="history(media.user)">Historique des emprunts de: {{media.user}}</a>
        <section class="history" *ngIf="historyUser == media.user">
          <p *ngFor="let historyMedia of historyMedias">{{historyMedia.title}}</p>
        </section>
      <img *ngIf="loadingIndex ===i" height="30px" src="assets/loading.gif">
      <button *ngIf="!media.end && user.length > 3"(click)="saveLoaning(media.id)" class="btn">Emprunter</button>
      </td>
     </tr>
   </tbody>
 </table>
