

<input type="search" name="" value="" placeholder="Recherche par auteur">
<button  name="button">Rechercher</button>

<div class="container">

    <div class="row">
      <div *ngFor="let media of medias" class="col-md-3">

        <div  class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://www.universmini.com/images/pas-de-visuel.jpg" >
          <div class="card-body">
            <h5 class="card-title">Titre: {{ media.title}}</h5>
            <p class="card-text">Auteur: {{media.author}}</p>
            <p class="card-text">Catégorie: {{media.type}}</p>
            <a href="#" class="btn btn-primary">Emprunter</a>
          </div>
        </div><!--fin div card-->
      </div><!--fin div col-md-3 -->
    </div><!--fin div row-->
</div><!--fin div container-->
