

<input type="search" name="" value="" placeholder="Recherche par auteur"  [(ngModel)]="author">
<button   name="button" (click)="getMedias()">Rechercher</button><br>

<input type="text" name="" value="" placeholder="Entrez votre nom pour pouvoir emprunter"  [(ngModel)]="user">
<!-- <button   name="button">J'emprunte un livre</button> -->

 <!-- <div class="container">

    <div class="row">
      <div *ngFor="let media of medias" class="col-md-3">

        <div  class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://www.universmini.com/images/pas-de-visuel.jpg" >
          <div class="card-body">
            <h5 class="card-title">Titre: {{ media.title}}</h5>
            <p class="card-text">Auteur: {{media.author}}</p>
            <p class="card-text">Catégorie: {{media.type}}</p>
            <a href="#" class="btn btn-primary" (click)="test(media.id)">Emprunter</a>
          </div>
        </div>
      </div>
    </div>
</div>

 -->

 <table class=" table table-bordered">
   <thead>
     <tr>
       <th>Titre</th>
       <th>Auteur</th>
       <th>Catégorie</th>
       <th>Disponibilité</th>
     </tr>
   </thead>
   <tbody>
     <tr *ngFor="let media of medias">
      <td>{{media.title}}</td>
      <td>{{media.author}}</td>
      <td>{{media.type}}</td>
      <td>
      <div *ngIf="media.end"> Retour le{{media.end}} <span>emprunté par {{media.user}}</span></div>
      <button *ngIf="!media.end"(click)="saveLoaning(media.id)" class="btn">Emprunter</button>
      </td>
     </tr>
   </tbody>
 </table>
